/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html{

    background-color: rgb(10, 15, 33);

}

*{
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 6px;
  }

html::-webkit-scrollbar-track {
    background: rgb(198, 197, 197);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    
    background: rgb(140, 141, 169);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
   
    background: rgb(140, 141, 169);
    border-radius: 10px;
  }